In [1]:
import pandas as pd
from datetime import datetime

In [2]:
#Defining dates
start='2007-01-01'
end='2017-12-31'

In [3]:
#creating date range
idx=pd.date_range(start,end)

In [4]:
#converting to DataFrame
final_data = pd.DataFrame(idx,columns=['Date'])

In [5]:
#setting up index
final_data=final_data.set_index('Date', drop=True)
final_data.index=pd.to_datetime(final_data.index)

In [6]:
#checking
final_data.head()

Empty DataFrame
Columns: []
Index: [2007-01-01 00:00:00, 2007-01-02 00:00:00, 2007-01-03 00:00:00, 2007-01-04 00:00:00, 2007-01-05 00:00:00]

In [7]:
#saving to csv
final_data.to_csv('final_data.csv')